/*  your css code here. If applicable */
.container {
	background-color:#D3D3D3;
	padding:10px;
	
}

.container ul{  
	
		
	    list-style-type:none;
}

.container li {
	margin-right:  16px: 
	  display: flex; 
/*   display: inline; */
}
